# Ключи: никогда не добавлять в коммиты
*.pem

# Данные и результаты обучения
data/
*.npy
checkpoints/
runs/

# Файлы Python
.venv/
__pycache__/
*.pyc

# Среда разработки
.idea/

# Документация
docs/
